<h2>My Heroes</h2>

<div class="row">
  <div class="col"></div>
  <app-hero-add (add)="onAdd($event)"></app-hero-add>
</div>

<ul class="list-group mb-3">
  <li class="list-group-item" *ngFor="let hero of heroes">
    <div class="d-flex">
      <div class="p-2">
        <span class="badge badge-primary badge-pill">{{ hero.id }}</span>
      </div>

      <div class="p-2">
        <a routerLink="/heroes/{{ hero.id }}">
          {{ hero.name }}
        </a>
      </div>

      <div class="p-2 ml-auto">
        <button class="btn btn-danger" (click)="delete(hero)">x</button>
      </div>
    </div>
  </li>
</ul>
